.home {
    padding: 20px;
}

.home__title {
    margin-bottom: 20px;
    color: var(--primary-color);
}

.textInfo {
    margin-bottom: 10px;
}

.subtitle {
    margin-top: 40px;
    text-align: center;
    color: var(--secondary-color);
}

.subtitle span {
    color: var(--error-color);
}
