* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

:root {
    --primary-color: #4CAF50; /* Verde */
    --secondary-color: #2196F3; /* Azul */
    --accent-color: #FF9800; /* Laranja */ 
    --background-color: #FFFFFF; /* Fundo claro */
    --secondary-background-color: #dddddd; /* Fundo secundário */
    --text-color: #333333; /* Texto principal */
    --text-secondary-color: #f5f5f5; /* Texto secundário */
    --error-color: #F44336; /* Vermelho */
}

.container {
    max-width: 720px;
    margin: 20% auto;
    padding: 20px;
    background-color: var(--secondary-background-color);
    border-radius: 8px;  
} 

.step {
    width: 100%;
}

/* Botões */
.bttn {
    display: flex;    
    margin-top: 20px;
    gap: 10px;
}

.printBttn {
    background-color: var(--secondary-color);
}

button {
    display: flex;    
    background-color: var(--primary-color);
    color: var(--text-secondary-color);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    align-items: center;    
}

button:hover {
    background-color: var(--accent-color);
}

/* Inputs */
input {
    padding: 10px;
    border: 1px solid var(--secondary-background-color);
    border-radius: 6px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
}

input:focus {
    border-color: var(--secondary-color);
    outline: none;
}

/* Títulos */
h1, h2, h3 {
    color: var(--primary-color);
}

/* Texto de erro */
.error-text {
    color: var(--error-color);
    font-size: 14px;
    margin-top: 5px;
}